@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Mabry Pro";
  src: url("/assets/fonts/MabryPro-Regular.woff2") format("woff2"),
    url("/assets/fonts/MabryPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  /* max-height: 392px; */
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}

.contact-form .form-group .form-control.invalid {
  border-color: #ff0000;
}
.nav.nav-pills .nav-link.active {
  background-color: #f7af24;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #18171c;
  padding: 9px 20px;
}
.nav.nav-pills .nav-link.active:hover {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
}
.nav.nav-pills .nav-link {
  background-color: #ffffff;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #18171c;
  padding: 9px 20px;
}
.nav.nav-pills .nav-link:hover {
  box-shadow: 3px 3px #000;
}
.card-thumbnail {
  width: 100%;
  height: 100%;
  display: block;
}
.portfolio-img {
  display: block;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px 15px 0px 0px;
}
.portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio-wrap .portfolio-links a:hover {
  color: #ffffff;
}
.portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}
.portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
.portfolio-wrap .portfolio-links a {
  right: auto;
}

.portfolio-box .portfolio-info .card-description {
  font-size: 1rem;
  line-height: 1.4;
  font-family: Mabry pro, sans-serif;
  color: #000;
  margin-bottom: 0.6rem;
}
.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.card-tag {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 3px 3px 0px #000;
  transition: all 0.3s ease;
  border-radius: 8rem;
}
.card-tag:hover {
  background-color: transparent;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
  border-radius: 10px;
}
.card-tag:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
  border-radius: 10px;
}
.portfolio-box .portfolio-info > span {
  display: flex;
  background-color: #18171c;
  flex-direction: column;
  border: 1px solid #000;
  margin: 0px 0px 10px;
}
.portfolio-box .portfolio-info > strong {
  color: #000;
  font-family: Mabry pro, sans-serif;
}
.scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 20px;
  background-color: white;
  color: black;
  width: 45px;
  height: 45px;
  opacity: 0.75;
  border: 1px solid #e7eae8;
  border-radius: 8px;
  cursor: pointer;
  animation: bounce_513 1s infinite;
}
@keyframes bounce_513 {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.accordion-item {
  border: none;
}
.offcanvas-end {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c546.226C99.559%2c517.207%2c127.291%2c388.65%2c207.627%2c323.074C274.931%2c268.136%2c390.963%2c274.025%2c429.103%2c195.965C467.195%2c118.003%2c403.095%2c29.673%2c393.095%2c-56.519C382.724%2c-145.913%2c420.151%2c-245.741%2c369.249%2c-319.956C317.568%2c-395.308%2c215.714%2c-410.752%2c129.46%2c-440.902C38.661%2c-472.641%2c-56.928%2c-534.328%2c-146.926%2c-500.384C-236.942%2c-466.433%2c-259.682%2c-351.702%2c-315.256%2c-273.171C-364.443%2c-203.666%2c-439.909%2c-149.228%2c-454.763%2c-65.385C-469.783%2c19.398%2c-419.015%2c97.818%2c-395.664%2c180.694C-367.467%2c280.768%2c-379.713%2c401.459%2c-303.344%2c472.012C-225.302%2c544.111%2c-102.004%2c575.958%2c0%2c546.226' fill='%23f2f2f2'%3e%3c/path%3e%3cpath d='M1440 1073.9C1548.895 1093.636 1670.637 1123.516 1765.186 1066 1859.974 1008.338 1883.7939999999999 884.332 1922.533 780.366 1958.6979999999999 683.308 1989.489 585.317 1982.809 481.956 1975.745 372.656 1950.092 262.669 1883.458 175.74200000000002 1814.685 86.02499999999998 1710.53 36.749000000000024 1606.905-8.426000000000045 1490.449-59.19500000000005 1369.723-129.029 1245.511-102.36900000000003 1119.126-75.24300000000005 1005.711 17.784999999999968 947.369 133.13299999999998 892.718 241.183 957.8240000000001 368.485 946.3879999999999 489.029 935.731 601.356 832.167 713.629 882.725 814.499 933.575 915.951 1079.78 912.5360000000001 1182.662 960.4259999999999 1269.411 1000.806 1345.847 1056.836 1440 1073.9' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  width: 50%;
  margin-top: 2rem;
  border-radius: 12px;
}
.offcanvas-header {
  background-color: #000;
  color: #fff;
  border-radius: 12px 12px 5px 5px;
}
.offcanvas-header .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
  color: white;
  text-decoration: none;
  opacity: 1.5;
}
.carousel-item {
  width: 100%;
  border-radius: 20px;
}
.carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-control-prev,
.carousel-control-next {
  filter: invert(50%);
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  filter: invert(100%);
}
.project-details__header {
  margin-bottom: 10px;
}
.project-details .project-details__header > strong {
  color: #000;
  font-family: Mabry pro, sans-serif;
}
.project-details__discription {
  margin: 20px 0px;
}
.project-details__discription > p {
  color: #000;
  font-family: Mabry pro, sans-serif;
}

.button {
  --bg-color: #fff;
  --main-color: #323232;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.accordion {
  display: contents;
}

/* burger menu */
.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 3px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 22px;
  left: 5px;
}

.navbar-toggler {
  transition: 0.25s ease-in-out;
}

/* Let's talk button csss */
.cssbuttons-io-button {
  background-color: #ffee58;
  font-family: "Mabry Pro";
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  box-shadow: 0px 6px 2px #eae0c3;
}

.cssbuttons-io-button .icon {
  background: #000;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #ffee58;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* Mobile screen */
